<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-light m-navbar">
  <a class="navbar-brand" href="/welcome">Inspire</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if logged_in? %>
        <li class="nav-item">
          Hey <%= current_user.first_name %>!
        </li>
        <li class="nav-item">
          <%= link_to 'Log out', logout_path, method: :delete, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'View Profile', user_show_path_url(username: current_user.username), class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Log in', root_path, class: 'nav-link' %>
        </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link" href="/stories">Top Stories</a>
      </li>
    </ul>
    <%= form_with scope: :filter, url: stories_filter_path, method: :get, html: {class: 'form-inline my-2 my-lg-0'} do |f| %>
      <%= f.text_field :filter_string, required: true, placeholder: 'Keyword', class: 'form-control mr-sm-2', required: true %>
      <%= f.submit "Search", class: "btn btn-outline-success" %>
    <% end %>
  </div>
</nav>
<!-- End Nav Bar -->

<div class="container">
  <h1>New Post</h1>
  <h3>How do you want to inspire others?</h3>

  <%= form_with scope: :post, url: create_post_path, local: true do |form| %>
    <span>
      <%= form.label :title %> <br>
      <%= form.text_field :title, placeholder: "Title", :required => true %> <br>
      <%= form.label :category %> <br>
      <%= form.text_field :category, placeholder: "Inspiration", :required => true %> <br>
    </span>
    <p>
      <%= form.label :message %> <br>
      <%= form.text_area :message, placeholder: "I am amazing!", :required => true %> <br>
    </p>
    <p>
      <%= form.submit "Share!", class: "btn btn-success" %>
    </p>
  <% end %>
</div>