<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-light m-navbar">
  <a class="navbar-brand" href="/welcome">Inspire</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if logged_in? %>
        <li class="nav-item">
          Hey <%= current_user.first_name %>! | <%= link_to 'Log out', logout_path, method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Log in', root_path %>
        </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link" href="/stories">Top Stories</a>
      </li>
    </ul>
    <%= form_with scope: :filter, url: stories_filter_path, method: :get, html: {class: 'form-inline my-2 my-lg-0'} do |f| %>
      <%= f.text_field :filter_string, required: true, placeholder: 'Category', class: 'form-control mr-sm-2', required: true %>

      <%= f.submit "Search", class: "btn btn-outline-success" %>
    <% end %>
  </div>
</nav>
<!-- End Nav Bar -->

<div class="container">
	<% if @post.present? %>
    <!-- Jumbotron -->
    <div class="jumbotron custom-jumbotron">
      <h1 class="display-4"><%= @post.title %></h1>
      <hr>
      <p><%= @post.category %></p>
      <p class="lead">
        <%= link_to "Shared by: " + @post.user.first_name + ' ' + @post.user.last_name, user_show_path_url(username: @post.user.username) %>
      </p>
    </div>
    <!-- End Jumbotron -->

    <!-- Message -->
		<p><%= @post.message %></p>

    <!-- Comments -->
    <h5>Comments:</h5>
    <% @comments = @post.comments.all %>
    <% @comments.each do |comment| %>
      <span>
        <%= comment.user.first_name + ' ' + comment.user.last_name %>
        <blockquote>| <%= comment.message %></blockquote>
        <br>
      </span>
    <% end %>

    <h5>New Comment:</h5>
    <%= form_with(model: [current_user, current_user.comments.build], local: true) do |form| %>
      <span>
            <%= form.label :message %>
            <%= form.text_field :message, placeholder: "What a great story!", :required => true %> <br>
            <%= hidden_field_tag 'post_title', @post.title %>
            <%= hidden_field_tag 'post_username', @user.username %>
        </span>
        <p>
            <%= form.submit "Share!", class: "btn btn-success" %>
        </p>
    <% end %>
    <%= button_to 'Get more inspired', stories_path, :method => :get, class: "btn btn-primary" %>

  <% else %>
    <h1>Unfortunately we cannot find this post</h1>
	<% end %>
</div>

