<h1><%= @post.title %></h1>
<h3><%= @post.category %></h3>
<p><%= @post.message %></p>

<h3>Comments:</h3>
<% @comments = @user.comments.all %>
<% @comments.each do |comment| %>
	<span>
		<%= comment.message %>
		<%= button_to 'Reply', reply_new_path(@user.id, comment.id), :method => :get %> <br>
	</span>
	<%comment.replies.each do |reply| %>
		<blockquote> <h5><%= reply.message %></h5> </blockquote>
	<% end %>
<% end %>

<h5>New Comment:</h5>
<%= form_with(model: [@user, @user.comments.build], local: true) do |form| %>
	<span>
        <%= form.label :message %>
        <%= form.text_field :message, placeholder: "What a great story!", :required => true %> <br>
    </span>
    <p>
        <%= form.submit "Share!" %>
    </p>
<% end %>
<%= button_to 'Get more inspired', user_index_path, :method => :get %>
