<% stylesheet_link_tag "welcome.css" %>
<head>
	<link rel="stylesheet" type="text/css" href="../../stylesheets/welcome.css">
</head>
<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-light m-navbar">
  <a class="navbar-brand" href="/welcome">Inspire</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if logged_in? %>
        <li class="nav-item">
          Hey <%= current_user.first_name %>! | <%= link_to 'Log out', logout_path, method: :delete %>
          | <%= link_to 'View Profile', user_show_path_url(username: current_user.username) %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Log in', root_path %>
        </li>
      <% end %>
    </ul>
    <%= form_with scope: :filter, url: stories_filter_path, method: :get, html: {class: 'form-inline my-2 my-lg-0'} do |f| %>
      <%= f.text_field :filter_string, required: true, placeholder: 'Category', class: 'form-control mr-sm-2', required: true %>

      <%= f.submit "Search", class: "btn btn-outline-success" %>
    <% end %>
  </div>
</nav>
<!-- End Nav Bar -->

<div class="container">
  <%= button_to "Have something to share?", new_post_path(username: current_user.username), method: :get, class: "btn btn-outline-primary float-right" %>
	<% if @posts.present? %>
		<h1 id="top_stories">Top Stories</h1>
    <br>
    <% @posts.each do |post| %>
      <h3><%= link_to post.title, show_post_path(username: post.user.username, post_title: post.title) %></h3>
      
      <!-- Add user Image -->
      <span>
        <%= link_to post.user.first_name + ' ' + post.user.last_name, user_show_path_url(username: post.user.username) %> | 
        <%= post.category.present? ? post.category : 'story' %>
      </span>
      <p><%= post.message %></p>
      <hr>
    <% end %>
	<% else %>
		<h1>Hmmm... Something seems wrong</h1>
		<p>Seems like we can find any of these posts at the moment, hang tight!</p>
	<% end %>
</div>