<h1>Edit User</h1>
<<<<<<< HEAD
<%= form_with(model: @user, local: true) do |form| %>
=======
<%= form_with model: @user, local: true do |form| %>
>>>>>>> csstest
      <p>
        <%= form.label :username %>
        <%= form.text_field :username, placeholder: "username", :required => true %>
      </p>
      <p>
        <%= form.label :password %>
        <%= form.password_field :password, placeholder: "password", title: "enter password here", :required => true %>
      </p>
      
      <p>
        <%= form.submit "Update" %>
      </p>
 <% end %>