<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-light m-navbar">
  <a class="navbar-brand" href="/welcome">Inspire</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/stories">Top Stories</a>
      </li>
    </ul>
    <%= form_with scope: :filter, url: stories_filter_path, method: :get, html: {class: 'form-inline my-2 my-lg-0'} do |f| %>
      <%= f.text_field :filter_string, required: true, placeholder: 'Keyword', class: 'form-control mr-sm-2', required: true %>
      <%= f.submit "Search", class: "btn btn-outline-success" %>
    <% end %>
  </div>
</nav>
<!-- End Nav Bar -->

<div class="container">
  <h1>Edit User</h1>
  <%= form_for @user, url: { action: "update" } do |form| %>
    <p>
      <%= form.label :username %>
      <%= form.text_field :username, placeholder: "username", :required => true %>
    </p>
    <p>
      <%= form.label :password %>
      <%= form.password_field :password, placeholder: "password", title: "enter password here", :required => true %>
    </p>
    <p>
      <%= form.label :bio %>
      <%= form.text_field :bio, placeholder: "Bio" %>
    </p>
    <p>
      <%= form.submit "Update", class: "btn btn-primary" %>
    </p>
   <% end %>
</div>