<!-- This is no longer used -->
<h1>Inspire!</h1>

<h1>Recent Posts:</h1>
<%= button_to 'My Profile', user_path(4), :method => :get %>
<%= button_to 'Log Out', welcome_path, :method => :get %>

<% @users.each do |user| %>
	<% user.posts.each do |post| %>
		<h3><%= post.title %></h3>
		<p><%= post.message %></p>
		<h6><%= user.first_name + ' ' + user.last_name %></h6>
		<%= button_to 'View Post', user_post_path(user.id, post.id), :method => :get %>
	<% end %>
<% end %>

<h3>Comments:</h3>
<% @users.each do |user| %>
	<% user.comments.each do |comment| %>
		<p><%= comment.message %></p>
		<h6><%= user.first_name + ' ' + user.last_name %></h6>
	<% end %>
<% end %>