<p>THIS WILL BE THE NEW USER PAGE<p>

<h1>New User Test - replace the code</h1>

<%= form_with scope: :user, local: true, url: :user, method: :post do |form| %>
  <p>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
  </p>
  <p>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
  </p>

  <p>
    <%= form.label :username %><br>
    <%= form.text_area :username %>
  </p>

  <p>
    <%= form.label :password %><br>
    <%= form.text_area :password %>
  </p>
 
  <p>
    <%= form.label :Bio %><br>
    <%= form.text_area :bio %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>