<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-light m-navbar">
  <a class="navbar-brand" href="/welcome">Inspire</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Top Stories</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <label><input class="form-control mr-sm-2" type="text" placeholder="Category"name="categor"></label>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!-- End Nav Bar -->

<div class="container">
  <h1>
    Sign up:
  </h1>
  <%= form_with scope: :user, url: user_create_path, local: true do |form| %>
    <%= form.label :first_name %>:
    <%= form.text_field :first_name, placeholder: "Jane", :required => true %> <br>
    <%= form.label :last_name %>:
    <%= form.text_field :last_name, placeholder: "Smith", :required => true %> <br>
    <%= form.label :username %>
    <%= form.text_field :username, placeholder: "username", :required => true %> <br>
    <%= form.label :password %>
    <%= form.password_field :password, placeholder: "password", title: "enter password here", :required => true %>
    <p>
      <%= form.submit "Sign Up", class: "btn btn-success" %>
    </p>
  <% end %>

  <h5>
    Already have an account? <%= button_to 'Click here to login!', welcome_path, :method => :get, class: "btn btn-outline-primary" %>
  </h5>
</div>







<!-- <!DOCTYPE html>
<html>
<head>
  <title>Inspire - Sign up</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="main.css">
</head> -->
 <!-- <div id="registration">
    <h1>
      Sign up:
    </h1>
    <form method="get" id="fields">
      <span>
        <label>First Name:
        <input type="text" name="given name" required title="Please enter your first name" placeholder="Jane">
        </label>
        <p></p>
        <label>Last Name:
          <input type="text" name="surname" required title="Please enter your last name" placeholder="Smith">
        </label>
      </span>
      <p>
      <label>Email:
        <input type="Email" name="user email" placeholder="jane.smith@email.com" required=""></label>
      </p>
      <p>
      <label>Username:
        <input type="text" name="username" placeholder="username" required="">
      </label>
      </p>
      <p>
      <label>Password:
          <input type="Password" name="password" placeholder="password" pattern=".{8,32}" required title="Your password must be between 8 and 32 characters"></input>
      </label>
      </p>
      <p>
      <label>Confirm Password:
        <input type="Password" name="rep password" placeholder="password" title="Please enter the same password as above" required="">
      </label>
      </p>
      <p>
      <button>
        Sign up
      </button>
      </p>
    </form>
</div> -->