<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-light m-navbar">
  <a class="navbar-brand" href="/welcome">Inspire</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if logged_in? %>
        <li class="nav-item">
          Hey <%= current_user.first_name %>! | <%= link_to 'Log out', logout_path, method: :delete %>
          | <%= link_to 'View Profile', user_show_path_url(username: current_user.username) %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Log in', root_path %>
        </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link" href="/stories">Top Stories</a>
      </li>
    </ul>
    <%= form_with scope: :filter, url: stories_filter_path, method: :get, html: {class: 'form-inline my-2 my-lg-0'} do |f| %>
      <%= f.text_field :filter_string, required: true, placeholder: 'Keyword', class: 'form-control mr-sm-2', required: true %>
      <%= f.submit "Search", class: "btn btn-outline-success" %>
    <% end %>
  </div>
</nav>
<!-- End Nav Bar -->

<% if @user.present? %>
  <div class="container">
    <!-- User Image -->
    <% if logged_in? && is_current_user?(@user) %>
      <%= button_to 'Edit my profile', edit_user_path(@user), :method => :get, class: "btn btn-primary float-right" %>
    <% end %>
    <h1><%= @user.first_name + ' ' + @user.last_name %></h1>
    <br>
    <% if @user.bio != '' %>
      <h3><%= @user.bio %></h3>
    <% end %>
    <br>
    <!-- Posts -->
    <h2>Posts by: <%= @user.first_name %></h2>
    <br>
    <% @user.posts.each do |post| %>
      <h5><%= link_to post.title, show_post_path(username: post.user.username, post_title: post.title) %></h5>
      <p><%= post.message %></p>
      <hr>
    <% end %>
  </div>
<% else %>
  <h1>We Unfortunately could not find this user</h1>
<% end %>